main {
    font-family: 'Montserrat Alternates'; 
}
#background {
    background-image: url(../images/new\ jpeg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

html {
    scroll-behavior: smooth;
}
header {
    color: white;
    font-family: 'Montserrat Alternates';
}
.pick{
    font-size: 55px;
    height: 45px;
    color: white;
    font-family: 'Montserrat Alternates';
    transition: font-size .2s;
} 
.pick:hover {
    color: #D1D1D1;
    font-size: 65px;
    opacity: .5;
}
.about-us a:hover {
    color: #D1D1D1;
    opacity: .5;
}
.footerLinks a:hover {
    color: #D1D1D1;
    opacity: .5;
}


hr {
    width: 25%;
    margin: auto;
}
#cocktail-image[src] {
    /* display: flex; */
    /* justify-content: center; */
    height: 300px;
    width: 300px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 5px 5px 5px black;

}
/* @media only screen and (max-width: 600px) {
    #background {
        background-size: contain;
}
} */
footer {
   background-image: url("../images/istockphoto.jpg");
}

footer h2 {
    font-size: 20px;
}

.footerLogo[src] {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 5px;
    height: 100px;
    width: 100px;
    margin: 20px auto;
    margin-top: 40px;
    box-shadow: 1px 1px 20px 2px white;
    border-radius: 6px;
}
.headerLogo[src] {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 5px;
    height: 150px;
    width: 150px;
    margin: 20px auto;
    margin-top: -252px;
    box-shadow: 1px 1px 20px 2px darkred;
    border-radius: 6px;
}

#food-image[src] {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px black;
}

#movie-poster[src] {
    margin-top: 5px;
    height: 300px;
    width: 300px;
    margin: 20px auto;
    margin-top: 20px;
    box-shadow: 5px 5px 5px black;
    border-radius: 6px;
}
.about-us a:hover {
    color: #D1D1D1;
    opacity: .5;
}
.footerLinks a:hover {
    color: #D1D1D1;
    opacity: .5;
}
@media screen and (max-width: 768px) {
    #clicks {
        display: flex;
        flex-direction: column;
    }
    #food-image[src] {
        display: flex;
        align-items: center;
        margin: 20px auto;
    }
    .footerLinks {
        display: flex;
        flex-direction: column;
    }
}
