main {
    background-color: grey;
}

.links-container {
    margin-top: 10%;
    box-sizing: border-box;
}

.links-container h1 {
text-align: center;
margin-bottom: 5%;
}

.about {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.about .group {
    
}