main {
    font-family: 'Montserrat Alternates'; 
}
#background {
    background-image: url(../images/new\ jpeg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

html {
    scroll-behavior: smooth;
}
header {
    color: white;
    font-family: 'Montserrat Alternates';
}
.pick{
    font-size: 55px;
    color: white;
    font-family: 'Montserrat Alternates';
    transition: font-size .2s;
    height:45px;
} 
.pick:hover {
    color: #D1D1D1;
    font-size: 65px;
    opacity: .5;
}
hr {
    width: 25%;
    margin: auto;
}
#cocktail-image[src] {
    /* display: flex; */
    /* justify-content: center; */
    height: 300px;
    width: 300px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 5px 5px 5px black;

}
/* @media only screen and (max-width: 600px) {
    #background {
        background-size: contain;
}
} */
footer {
   background-image: url("../images/abstract-black.jpg");
}

footer h2 {
    font-size: 20px;
}
#food-image[src] {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px black;
}

#movie-poster {
    width: 10rem;
    margin-top: 10px;
}

